openapi: 3.0.0
info:
  description: The Internal API for a v6 Instance is the central point in the v6 Architecture and responsible for all data access for the instance.
  version: "0.1.0"
  title: Velocity EHS Instance Internal API
  contact:
    name: VelocityEHS
    url: https://www.ehs.com
    email: support@ehs.com
servers:
  - url: 'https://odev6web01.ad.velocityehs.com/ehs-internal-api/api'
    description: Development
tags:
  - name: Account
  - name: Authentication
  - name: Configuration
  - name: Hierarchy
  - name: Internationalization
  - name: Localization
  - name: Location
  - name: List
  - name: LocationList
  - name: Mobile
  - name: Person
paths:
# Account
  /accounts:
    get:
      tags:
      - Account
      summary: Return all accounts in the instance.
      description: Return all accounts in the instance.
      operationId: getAccounts
      parameters:
        - $ref: '#/components/parameters/LanguageHeader'
        - name: accountId
          in: query
          description: The account id
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 13
            nullable: true
        - name: externalId
          in: query
          description: The external account id
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: guid
            example: "FEB8B939-BDC0-DD11-8038-DFD6234E2644"
            nullable: true
        - name: accountIdentifier
          in: query
          description: The account identifier
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: int32
            example: "AcmeCorp"
            nullable: true
      responses:
        200:
          description: The matching account
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Accounts not found
    put:
      tags:
      - Account
      summary: Update an existing account
      description: Update an existing account
      operationId: updateAccount
      requestBody:
        description: The updated account object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
          application/xml:
            schema:
              $ref: '#/components/schemas/Account'
        required: true
      responses:
        204:
          description: The account was successfully updated.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Account not found
    post:
      tags:
      - Account
      summary: Create a new account
      description: Create a new account
      operationId: createAccount
      requestBody:
        description: The new account schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
          application/xml:
            schema:
              $ref: '#/components/schemas/Account'
        required: true
      responses:
        201:
          description: The new account identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status201Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/Status201Response'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
  /accounts/userInfo:
    get:
      tags:
      - Account
      summary: Gets the basic user information for an accounts user.
      description: Gets the basic user information for an accounts user.
      operationId: getUserInfo
      parameters:
        - name: x-account
          in: header
          description: Unique identifier for the customer account
          required: false
          style: simple
          explode: false
          schema:
            type: integer
            example: 1   
        - $ref: '#/components/parameters/LanguageHeader'
        - name: username
          in: query
          description: Username of the person
          required: false
          style: form
          explode: true
          schema:
            type: string
            nullable: true
        - name: emailAddress
          in: query
          description: Email address of the person
          required: false
          style: form
          explode: true
          schema:
            type: string
            nullable: true
        - name: phoneNumber
          in: query
          description: Phone number of the person
          required: false
          style: form
          explode: true
          schema:
            type: string
            nullable: true 
      responses:
        200:
          description: The basic details of the user that matches the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUser'
            application/xml:
              schema:
                $ref: '#/components/schemas/AccountUser'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: No authentication methods for the account
  /accounts/current:
    get:
      tags:
      - Account
      summary: Get an account by the account id
      description: Get an account by the account id
      operationId: getAccountById
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      responses:
        200:
          description: The account
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/Account'
            application/xml:
              schema:
                  $ref: '#/components/schemas/Account'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Account not found
  /accounts/current/personalization:
    get:
      tags:
      - Account
      summary: Gets the personalization information for an account.
      description: Gets the personalization information for an account.
      operationId: getAccountPersonalization
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      responses:
        200:
          description: The personalization of the account that matches the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Personalization'
            application/xml:
              schema:
                $ref: '#/components/schemas/Personalization'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Account not found
    put:
      summary: Updates a personalization based on account id
      operationId: updateAccountPersonalization
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePersonalization"
          application/xml:
            schema:
              $ref: "#/components/schemas/UpdatePersonalization"
      responses:
        204:
          description: The account was successfully updated
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Account not found
  /accounts/current/currency:
    get:
      tags:
      - Account
      summary: Get an account currency list
      description: Get an account currency list
      operationId: getAccountCurrencyList
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      responses:
        200:
          description: The currency list of the account that matches the request
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Currency List not found
    put:
      tags:
      - Account
      summary: Update an account currency list
      description: Update an account currency list
      operationId: updateAccountCurrencyList
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        description: The updated account currency list
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountCurrencyList'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateAccountCurrencyList'
        required: true
      responses:
        204:
          description: The account was successfully updated.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: No currency for the account
  /accounts/current/country:
    get:
      tags:
      - Account
      summary: Get an account country list
      description: Get an account country list
      operationId: getAccountCountryList
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      responses:
        200:
          description: The country list of the account that matches the request
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Country List not found
    put:
      tags:
      - Account
      summary: Update an account country list
      description: Update an account country list
      operationId: updateAccountCountryList
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        description: The updated account country list
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountCountryList'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateAccountCountryList'
        required: true
      responses:
        204:
          description: The account was successfully updated.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: No country List for the account
  /accounts/current/language:
    get:
      tags:
      - Account
      summary: Get an account language list
      description: Get an account language list
      operationId: getAccountLanguages
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      responses:
        200:
          description: The country list of the account that matches the request
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Language'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Language'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Language List not found
# Authentication
  /auth/methods:
    get:
      tags:
      - Authentication
      summary: Gets the authentication methods for the account.
      description: Gets the authentication methods for the account.
      operationId: getAuthMethods
      parameters:
        - name: accountId
          in: query
          description: The account id
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 13
            nullable: true
        - name: accountIdentifier
          in: query
          description: The account identifier
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: int32
            example: "AcmeCorp"
            nullable: true
      responses:
        200:
          description: The authentication methods for the account.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuthenticationMethod'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuthenticationMethod'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: No authentication methods for the account
    post:
      tags:
      - Authentication
      summary: Sets an authentication methods for the account.
      description: Sets an authentication methods for the account.
      operationId: setAuthMethod
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationMethod'
          application/xml:
            schema:
              $ref: '#/components/schemas/AuthenticationMethod'
      responses:
        204:
          description: The authentication methods was successfully set.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: No authentication methods for the account
    delete:
      tags:
      - Authentication
      summary: Delete an authentication methods for the account.
      description: Delete an authentication methods for the account.
      operationId: deleteAuthMethod
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: id
          in: query
          description: The authentication method identifier
          required: true
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            format: int32
      responses:
        204:
          description: The authentication method was deleted.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: No authentication methods for the account
  /auth/forms/login:
    post:
      tags:
      - Authentication
      summary: Determines if the provided credentials are valid.
      description: Determines if the provided credentials are valid.
      operationId: authFormsHasAccess
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormsAuthCrediential'
          application/xml:
            schema:
              $ref: '#/components/schemas/FormsAuthCrediential'
      responses:
        200:
          description: Credientials were valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormsAuthVerificationResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/FormsAuthVerificationResult'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        401:
          description: Credientials are invalid.
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Hierarchies not found
  '/auth/forms/forgotPassword':
    post:
      summary: Request to start the forgot password process for a given username.
      operationId: forgotPassword
      tags:
        - Authentication
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FormsAuthPasswordChangeRequest"
          application/xml:
            schema:
              $ref: "#/components/schemas/FormsAuthPasswordChangeRequest"
      responses:
        200:
          description: The person was successfully updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FormsAuthPasswordChangeResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/FormsAuthPasswordChangeResponse"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Persons not found
  /auth/forms/blacklist:
   post:
      summary: Adds jti to a black list.
      operationId: blacklist
      tags:
        - Authentication
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FormsAuthBlacklistRequest"
          application/xml:
            schema:
              $ref: "#/components/schemas/FormsAuthBlacklistRequest"
      responses:
        204:
          description: The blacklist item was successfully added.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Adding blacklist not found
  /auth/forms/blacklist/{id}:
   get:
      tags:
      - Authentication
      summary: Checks the jti to see if it is blacklisted
      description: returns boolean value based on id
      operationId: getJTIFromBlacklist
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: id
          in: path
          description: The SSO Identity Provider id
          required: true
          explode: true
          schema:
            type: string
            format: guid
            example: 00000000-0000-0000-0000-000000000000
      responses:
        200:
          description: The BlackList Return Object
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/FormsAuthBlacklistResponse'
            application/xml:
              schema:
                  $ref: '#/components/schemas/FormsAuthBlacklistResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: SSO Identity Provider not found
  /auth/forms/rules:
    get:
      tags:
      - Authentication
      summary: Gets the password rules for the account.
      description: Gets the password rules for the account.
      operationId: getPasswordRules
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      responses:
        200:
          description: The password rules for the account.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FormsAuthPasswordRule'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FormsAuthPasswordRule'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: No password rules for the account
    post:
      tags:
      - Authentication
      summary: Adds password rules for the account.
      description: Adds password rules for the account.
      operationId: addPasswordRules
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FormsAuthPasswordRule'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FormsAuthPasswordRule'
      responses:
        204:
          description: The authentication rules were added.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: No password rules for the account
    delete:
      tags:
      - Authentication
      summary: Deletes a password rule for the account.
      description: Deletes a password rule for the account.
      operationId: deletePasswordRule
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: id
          in: query
          description: The password rule identifier
          required: true
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            format: int32
      responses:
        204:
          description: The password rule was removed for the account.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: No password rules for the account
  /auth/sso/idp:
    get:
      tags:
      - Authentication
      summary: Get a list of SSO Identity Providers
      description: Get a list of SSO Identity Providers
      operationId: getSsoIdp
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: trustName
          in: query
          description: The trust name of the identity providers to get.
          explode: true
          required: false
          schema:
            type: string
            nullable: true
      responses:
        200:
          description: The SSO Identity Providers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SsoIdentityProvider'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SsoIdentityProvider'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: SSO Identity Providers not found
    put:
      tags:
      - Authentication
      summary: Update an existing SSO Identity Provider.
      description: Update an existing SSO Identity Provider.
      operationId: updateSsoIdp
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        description: The updated SSO Identity Provider object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SsoIdentityProvider'
          application/xml:
            schema:
              $ref: '#/components/schemas/SsoIdentityProvider'
        required: true
      responses:
        204:
          description: The SSO Identity Provider was successfully updated.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Identity Provider not found
    post:
      tags:
      - Authentication
      summary: Create a new SSO Identity Provider
      description: Create a new SSO Identity Provider
      operationId: createSsoIdp
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        description: The new SSO Identity Provider schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SsoIdentityProvider'
          application/xml:
            schema:
              $ref: '#/components/schemas/SsoIdentityProvider'
        required: true
      responses:
        201:
          description: The new SSO Identity Provider identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status201Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/Status201Response'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
  /auth/sso/idp/{id}:
    get:
      tags:
      - Authentication
      summary: Get a SSO Identity Provider by the id
      description: Get a SSO Identity Provider by the id
      operationId: getSsoIdpById
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: id
          in: path
          description: The SSO Identity Provider id
          required: true
          explode: true
          schema:
            type: integer
            format: int32
            example: 13
      responses:
        200:
          description: The SSO Identity Provider
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/SsoIdentityProvider'
            application/xml:
              schema:
                  $ref: '#/components/schemas/SsoIdentityProvider'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: SSO Identity Provider not found
  /auth/sso/sp:
    get:
      tags:
      - Authentication
      summary: Get a list of SSO Service Providers
      description: Get a list of SSO Service Providers
      operationId: getSsoSp
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: velocityServiceProvidersOnly
          in: query
          description: Whether to only include VelocityEHS service providers.
          explode: true
          required: false
          schema:
            type: boolean
            nullable: true
      responses:
        200:
          description: The list of SSO Service Providers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SsoServiceProvider'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SsoServiceProvider'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: SSO Service Providers not found
    put:
      tags:
      - Authentication
      summary: Update existing SSO Service Provider
      description: Update existing SSO Service Provider
      operationId: updateSsoSp
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        description: The updated SSO Service Provider object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SsoServiceProvider'
          application/xml:
            schema:
              $ref: '#/components/schemas/SsoServiceProvider'
        required: true
      responses:
        204:
          description: The hierarchy was successfully updated.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: SSO Service Provider not found
    post:
      tags:
      - Authentication
      summary: Create a new SSO Identity Provider
      description: Create a new SSO Identity Provider
      operationId: createSsoSp
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        description: The new SSO Service Provider schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SsoServiceProvider'
          application/xml:
            schema:
              $ref: '#/components/schemas/SsoServiceProvider'
        required: true
      responses:
        201:
          description: The new hierarchy identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status201Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/Status201Response'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
  /auth/sso/sp/{id}:
    get:
      tags:
      - Authentication
      summary: Get a SSO Service Provider by the id
      description: Get a SSO Service Provider by the id
      operationId: getSsoSpById
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: id
          in: path
          description: The SSO Service Provider id
          required: true
          explode: true
          schema:
            type: integer
            format: int32
            example: 13
      responses:
        200:
          description: The SSO Service Provider
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/SsoServiceProvider'
            application/xml:
              schema:
                  $ref: '#/components/schemas/SsoServiceProvider'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: SSO Service Provider not found
  /auth/2fa/requestCode:
    get:
      tags:
      - Authentication
      summary: Requests a code for multi-factor authentication.
      description: Requests a code for multi-factor authentication.
      operationId: requestAuthVerificationCode
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: deliveryMethod
          in: query
          description: The method in which to deliver the forgot password information.
          required: false
          schema:
            type: string
            enum: [email, phone]
            nullable: true
      responses:
        200:
          description: Verification code successfully requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityVerification'
            application/xml:
              schema:
                $ref: '#/components/schemas/IdentityVerification'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
  /auth/2fa/verifyCode:
    post:
      tags:
      - Authentication
      summary: Verifies a code for multi-factor authentication.
      description: Verifies a code for multi-factor authentication.
      operationId: verifyAuthVerificationCode
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        description: The identity verification information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityVerification'
          application/xml:
            schema:
              $ref: '#/components/schemas/IdentityVerification'
        required: true
      responses:
        204:
          description: Verification code successfully validated.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
  /auth/validatepassword/{password}:
    get:
      tags:
      - Authentication
      summary: Validates Password based on account, person and password rules
      description: Validates Password based on account, person and password rules
      operationId: validatePassword
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: password
          in: path
          description: password to be passed in
          required: true
          explode: true
          schema:
            type: string
            nullable: true
      responses:
        200:
          description: Password validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PasswordValidationResult'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Invalid entry for password
# Configuration
  /config/products/summary/raw:
    get:
      tags:
      - Configuration
      summary: Get the product configuration summary
      description: Get the product configuration summary
      operationId: getProductConfigSummary
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      responses:
        200:
          description: The product configuration summary
          content:
            text/plain:
              schema:
                type: string
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Product config not found
  /config/workflows/raw:
    get:
      tags:
      - Configuration
      summary: Get the workflow configuration for a state
      description: Get the workflow configuration for a state
      operationId: getStateWorkflowConfigByName
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: category
          in: query
          description: The name of the category to get the workflow configuration for.
          required: true
          explode: true
          schema:
            type: string
            example: nearmiss
        - name: state
          in: query
          description: The name of the state to get the workflow configuration for.
          required: true
          explode: true
          schema:
            type: string
            example: investigation
      responses:
        200:
          description: The state's workflow configuration
          content:
            text/plain:
              schema:
                type: string
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Configuration not found
  /config/workflows/{categoryId}/{stateId}/raw:
    get:
      tags:
      - Configuration
      summary: Get the workflow configuration for a state
      description: Get the workflow configuration for a state
      operationId: getStateWorkflowConfigRaw
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: categoryId
          in: path
          description: The id of the category to get the workflow configuration for.
          required: true
          explode: true
          schema:
            type: integer
            example: 11
        - name: stateId
          in: path
          description: The id of the state to get the workflow configuration for.
          required: true
          explode: true
          schema:
            type: integer
            example: 14
      responses:
        200:
          description: The state's workflow configuration
          content:
            text/plain:
              schema:
                type: string
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Configuration not found
  /config/workflows/summary/raw:
    get:
      tags:
      - Configuration
      summary: Get the workflow configurations summaries
      description: Get the workflow configurations summaries
      operationId: getWorkflowConfigsSummary
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: productId
          in: query
          description: The id of the product to get the workflow config summary for.
          required: false
          explode: true
          schema:
            type: integer
            format: int32
            nullable: true
            example: 1
        - name: lastModified
          in: query
          description: Only include configurations that have changed since this date.
          required: false
          explode: true
          schema:
            type: string
            nullable: true
            format: date-time
            example: "2019-11-01 10:40:52"
      responses:
        200:
          description: The state's workflow configuration
          content:
            text/plain:
              schema:
                type: string
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Configuration not found
# Hierarchy
  /hierarchies:
    get:
      tags:
      - Hierarchy
      summary: Return a list all Hierarchies
      description: Return a list all Hierarchies
      operationId: getHierarchies
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      responses:
        200:
          description: A list of Hierarchies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Hierarchy'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Hierarchy'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Hierarchies not found
    put:
      tags:
      - Hierarchy
      summary: Update existing Hierarchy
      description: Update existing Hierarchy
      operationId: updateHierarchy
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        description: The updated Hierarchy object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateHierarchyParams'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateHierarchyParams'
        required: true
      responses:
        204:
          description: The hierarchy was successfully updated.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Hierarchy not found
    post:
      tags:
      - Hierarchy
      summary: Create new Hierarchy
      description: Create new Hierarchy
      operationId: createHierarchy
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        description: The new Hierarchy schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewHierarchyParams'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewHierarchyParams'
        required: true
      responses:
        201:
          description: The new hierarchy identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status201Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/Status201Response'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
  /hierarchies/{hierarchyId}:
    get:
      tags:
      - Hierarchy
      summary: Get a Hierarchy by id
      description: Get a Hierarchy by id
      operationId: getHierarchy
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: hierarchyId
          in: path
          description: The Hierarchy identifier
          required: true
          style: simple
          explode: false
          schema:
            minimum: 1
            type: integer
            format: int32
            nullable: true
      responses:
        200:
          description: A Hierarchy by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hierarchy'
            application/xml:
              schema:
                $ref: '#/components/schemas/Hierarchy'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Hierarchy not found
    delete:
      tags:
      - Hierarchy
      summary: Delete a Hierarchy by Hierarchy id
      description: Delete a Hierarchy by Hierarchy id
      operationId: deleteHierarchy
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: hierarchyId
          in: path
          description: The Hierarchy identifier
          required: true
          style: simple
          explode: false
          schema:
            minimum: 0
            type: integer
            format: int32
            nullable: true
      responses:
        204:
          description: Delete Hierarchy result
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Hierarchy not found          
  /hierarchies/createValidate:
    post:
      tags:
      - Hierarchy
      summary: Hierarchy creation validation
      description: Hierarchy creation validation
      operationId: canCreateHierarchy
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        description: The new Hierarchy object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewHierarchyParams'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewHierarchyParams'
        required: true
      responses:
        200:
          description: Create Hierarchy validation result
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Hierarchy not found
  /hierarchies/updateValidate:
    post:
      tags:
      - Hierarchy
      summary: Hierarchy update validation
      description: Hierarchy update validation
      operationId: canUpdateHierarchy
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        description: The updated Hierarchy object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateHierarchyParams'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateHierarchyParams'
        required: true
      responses:
        200:
          description: Update Hierarchy validation result
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Hierarchy not found
  /hierarchies/deleteValidate:
    post:
      tags:
      - Hierarchy
      summary: Hierarchy deletion validation
      description: Hierarchy deletion validation
      operationId: canDeleteHierarchy
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: hierarchyId
          in: query
          description: The hierarchy identifier
          required: true
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            format: int32
            nullable: true
      responses:
        200:
          description: Delete Hierarchy validation result
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Hierarchy not found
# Internationalization
  '/translations':
    post:
      tags:
      - Internationalization
      summary: Add translations into Database received from The Translation Tool
      description: Add translations into Database received from The Translation Tool
      operationId: setTranslations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetTranslation'
          application/xml:
            schema:
              $ref: '#/components/schemas/SetTranslation'
      responses:
        204:
          description: The translation requests were successfully created. The reason why reponse 204 returned instead of 201 because we are not returning any Id for this API.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
  '/translations/request':
    get:
      tags:
      - Internationalization
      summary: Get Translation Requests by params
      description: Get Translation Requests by params
      operationId: getTranslationRequests
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: fromDate
          in: query
          description: Start date of range for getTranslationRequests
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
            nullable: true
        - name: toDate
          in: query
          description: End date of range for getTranslationRequests
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
            nullable: true
      responses:
        200:
          description: A list of translation requests founded using provided criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TranslationRequest'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TranslationRequest'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Translation request not found
    put:
      summary: Updates a sent based on translation requests
      operationId: updateSentTranslationRequests
      tags:
        - Internationalization
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSentTranslationRequests"
          application/xml:
            schema:
              $ref: "#/components/schemas/UpdateSentTranslationRequests"
      responses:
        204:
          description: The translation requests were successfully updated
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Translation request not found
  '/translations/machine':
    post:
      tags:
      - Internationalization
      summary: Create machine translation request
      description: Create machine translation request
      operationId: createMachineTranslationRequest
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        description: The new translation schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MachineTranslation'
          application/xml:
            schema:
              $ref: '#/components/schemas/MachineTranslation'
        required: true
      responses:
        201:
          description: The new translation identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status201Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/Status201Response'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
# Localization
  '/localization/unitSystem':
    get:
      tags:
      - Localization
      summary: Get UnitSystem Conversion Rate
      description: Get UnitSystem Conversion Rate
      operationId: getUnitSystemConversion 
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: fromUnitId
          in: query
          description: Original Id of Unit
          required: false
          style: form
          explode: true
          schema:
            type: integer
            nullable: true
        - name: fromUnitValue
          in: query
          description: Original Value of Unit
          required: false
          style: form
          explode: true
          schema:
            type: number
            nullable: true
        - name: toUnitSystemId
          in: query
          description: Converted Id of Unit System
          required: false
          style: form
          explode: true
          schema:
            type: integer
            nullable: true
      responses:
        200:
          description: A Conversion value founded using provided criteria
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/UnitSystem'
            application/xml:
              schema:
                  $ref: '#/components/schemas/UnitSystem'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Unit System not found
  '/localization/currency':
    get:
      tags:
      - Localization
      summary: Get Currency Conversion Rate
      description: Get Currency Conversion Rate
      operationId: getCurrencyConversionRate
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: fromCurrencyId
          in: query
          description: Id of original currency
          required: false
          style: form
          explode: true
          schema:
            type: integer
            nullable: true
        - name: toCurrencyId
          in: query
          description: Id of converting currency
          required: false
          style: form
          explode: true
          schema:
            type: integer
            nullable: true
        - name: year
          in: query
          description: Year of the conversion
          required: false
          style: form
          explode: true
          schema:
            type: integer
            nullable: true
      responses:
        200:
          description: A conversion rate founded using provided criteria
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/Currency'
            application/xml:
              schema:
                  $ref: '#/components/schemas/Currency'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Currency not found
  '/localization/search/{searchText}':
    get:
      tags:
      - Localization
      summary: Get Currency list by searching
      description: Get Currency list by searching
      operationId: getCurrencyForSearch
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: searchText
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: A currency list founded using provided criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: A currency list not found
# Location
  /locations:
    get:
      tags:
      - Location
      summary: Search for locations by params
      description: Search for locations by params
      operationId: getLocations
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: id
          in: query
          description: The location identifier
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 1
        - name: locationType
          in: query
          description: The location type
          required: false
          schema:
            $ref: '#/components/schemas/LocationType'
        - name: hierarchyId
          in: query
          description: The hierarchy identifier
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 11
        - name: locationStatuses
          in: query
          description: The array of selected statuses
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LocationStatus'
        - name: limit
          in: query
          description: The amount of locations return per request
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 20
        - name: offset
          in: query
          description: The position for first location to be returned in the collection
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 20
      responses:
        200:
          description: A list of locations founded using provided criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Locations not found
    put:
      tags:
      - Location
      summary: Update existing location
      description: Update existing location
      operationId: updateLocation
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        description: The updated location schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Location'
          application/xml:
            schema:
              $ref: '#/components/schemas/Location'
        required: true
      responses:
        204:
          description: The location was successfully updated.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location not found
    post:
      tags:
      - Location
      summary: Create new location
      description: Create new location
      operationId: createLocation
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        description: The new location schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewLocationParams'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewLocationParams'
        required: true
      responses:
        201:
          description: The new location identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status201Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/Status201Response'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
    delete:
      tags:
      - Location
      summary: Delete a location by location id
      description: Delete a location by location id
      operationId: deleteLocation
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: id
          in: query
          description: The location identifier
          required: true
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: locationType
          in: query
          description: The location type
          required: true
          schema:
            $ref: '#/components/schemas/LocationType'
      responses:
        204:
          description: Location deletion result
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location not found
  /locations/{locationId}:
    get:
      tags:
      - Location
      summary: Get a location by location id
      description: Get a location by location id
      operationId: getLocationById
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: locationId
          in: path
          description: The location identifier
          required: true
          style: simple
          explode: false
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: locationType
          in: query
          description: The location type
          required: true
          schema:
            $ref: '#/components/schemas/LocationType'
      responses:
        200:
          description: A location with provided identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
            application/xml:
              schema:
                $ref: '#/components/schemas/Location'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location not found
  /locations/search:
    get:
      tags:
      - Location
      summary: Get locations by location name
      description: Get locations by location name
      operationId: getLocationsByName
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: locationName
          in: query
          description: The location name
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: hierarchyId
          in: query
          description: The hierarchy identifier
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 11
        - name: locationTypes
          in: query
          description: The array of selected location types
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LocationType'
        - name: locationStatuses
          in: query
          description: The array of selected statuses
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LocationStatus'
      responses:
        200:
          description: A list of locations founded using provided criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location not found
  /locations/traverse:
    get:
      tags:
      - Location
      summary: Get locations by traverse the location tree
      description: Get locations by traverse the location tree
      operationId: getTraversedLocations
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: id
          in: query
          description: The location identifier
          required: true
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: locationType
          in: query
          description: The location type
          required: true
          schema:
            $ref: '#/components/schemas/LocationType'
        - name: hierarchyId
          in: query
          description: The hierarchy identifier
          required: true
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: locationStatuses
          in: query
          description: The array of selected statuses
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LocationStatus'
        - name: levels
          in: query
          description: The number of level to traverse within hierarchy
          required: false
          style: form
          explode: true
          schema:
            minimum: -1
            type: integer
            format: int32
      responses:
        200:
          description: A list of locations founded using provided criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Locations not found
  /locations/childLocations:
    get:
      tags:
      - Location
      summary: Get immediate child locations or location groups
      description: Get immediate child locations or location groups
      operationId: getChildLocations
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: id
          in: query
          description: The location identifier
          required: true
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: locationTypes
          in: query
          description: The array of selected types
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LocationType'
        - name: locationStatuses
          in: query
          description: The array of selected statuses
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LocationStatus'
      responses:
        200:
          description: A list of locations founded using provided criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Locations not found
  /locations/childLocationsCount:
    get:
      tags:
      - Location
      summary: Get child locations count
      description: Get child locations count
      operationId: getChildLocationsCount
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: id
          in: query
          description: The location identifier
          required: true
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: locationStatuses
          in: query
          description: The array of selected statuses
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LocationStatus'
        - name: levels
          in: query
          description: The number of level to traverse within hierarchy
          required: false
          style: form
          explode: true
          schema:
            minimum: -1
            type: integer
            format: int32
      responses:
        200:
          description: A count of locations found using provided criteria
          content:
           application/json:
             schema:
               type: integer
               format: int32
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Locations not found
  /locations/childLocationGroupsCount:
    get:
      tags:
      - Location
      summary: Get child location groups count
      description: Get child location groups count
      operationId: getChildLocationGroupsCount
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: id
          in: query
          description: The location identifier
          required: true
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: locationStatuses
          in: query
          description: The array of selected statuses
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LocationStatus'
        - name: levels
          in: query
          description: The number of level to traverse within hierarchy
          required: false
          style: form
          explode: true
          schema:
            minimum: -1
            type: integer
            format: int32
      responses:
        200:
          description: A count of locations found using provided criteria
          content:
           application/json:
             schema:
               type: integer
               format: int32
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Locations not found
  /locations/move:
    post:
      tags:
      - Location
      summary: Move location and all children under another location group
      description: Move location and all children under another location group
      operationId: moveLocation
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovingLocationParams'
          application/xml:
            schema:
              $ref: '#/components/schemas/MovingLocationParams'
        required: true
      responses:
        204:
          description: The location successfully moved.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location not found
  /locations/creationValidate:
    post:
      tags:
      - Location
      summary: Validation of location creation
      description: Validation of location creation
      operationId: canCreateLocation
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        description: The new location object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewLocationParams'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewLocationParams'
        required: true
      responses:
        200:
          description: Create location validation result
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location not found
  /locations/deletionValidate:
    post:
      tags:
      - Location
      summary: Validation of location deleting
      description: Validation of location deleting
      operationId: canDeleteLocation
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - name: id
          in: query
          description: The location identifier
          required: true
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: locationType
          in: query
          description: The location type
          required: true
          schema:
            $ref: '#/components/schemas/LocationType'
      responses:
        200:
          description: Delete location validation result
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location not found
# List
  /lists:
    get:
      summary: Search for lists based on params
      description: Search for lists based on params
      operationId: getLists
      tags:
        - List
      parameters:
        - $ref: "#/components/parameters/AccountHeader"
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: "#/components/parameters/LanguageHeader"
        - in: query
          name: statusFilters
          description: The array of selected statuses to include
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
              example: 1
        - in: query
          name: productFilters
          description: The array of selected products to include
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
              example: 1
      responses:
        200:
          description: A list of lists found using provided criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/List'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Lists not found
    put:
      summary: Update existing list
      description: Update existing list
      operationId: updateList
      tags: 
        - List
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
      requestBody:
        description: The updated list schema
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateListParams'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateListParams'
      responses:
        204:
          description: The list was successfully updated.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: List not found
    post:
      summary: Create new list
      description: Create new list
      operationId: createList
      tags: 
        - List
      parameters:
        - $ref: "#/components/parameters/AccountHeader"
        - $ref: "#/components/parameters/IdentityHeader"
        - $ref: "#/components/parameters/LanguageHeader"
      requestBody:
        description: The list schema
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/List"
          application/xml:
            schema:
              $ref: "#/components/schemas/List"
      responses:
        201:
          description: The new list identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status201Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/Status201Response'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
    delete:
      summary: Delete a list by list id
      description: Delete a list by list id
      operationId: deleteList
      tags:
        - List
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/IdentityHeader'
        - $ref: '#/components/parameters/LanguageHeader'
        - in: query
          name: listId
          description: The list identifier
          required: true
          schema:
            minimum: 0
            type: integer
            format: int32
      responses:
        204:
          description: List deletion result
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: List not found
  /lists/{listId}:
    get:
      summary: Get a list by list id
      description: Get a list by list id
      operationId: getListById
      tags:
        - List
      parameters:
        - $ref: "#/components/parameters/AccountHeader"
        - $ref: '#/components/parameters/IdentityHeader'
[...]
