openapi: 3.0.0
info:
  description: The Web API for a v6 Instance.
  version: '0.2.0'
  title: Velocity EHS Instance Web API
  contact:
    name: VelocityEHS
    url: https://www.ehs.com
    email: support@ehs.com
servers:
  - url: 'https://odev6web01.ehs.dev/ehs-web-api/api'
    description: Development
tags:
  - name: Account
  - name: Authentication
  - name: Configuration
  - name: GlobalSearch
  - name: Hierarchy
  - name: Internationalization
  - name: List
  - name: Localization
  - name: Location
  - name: LocationList
  - name: Lookup
  - name: Navigation
  - name: Person
  - name: Record
  - name: Users
paths:
# Account
  '/account/personalization':
    get:
      tags:
      - Account
      summary: Gets the personalization information for an account.
      description: Gets the personalization information for an account.
      operationId: getAccountPersonalization
      responses:
        200:
          description: The personalization of the account that matches the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Personalization'
            application/xml:
              schema:
                $ref: '#/components/schemas/Personalization'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Account not found
      security : 
        - simple : []
    put:
      summary: Updates a personalization based on account id
      operationId: updateAccountPersonalization
      tags:
        - Account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePersonalization"
          application/xml:
            schema:
              $ref: "#/components/schemas/UpdatePersonalization"
      responses:
        204:
          description: The account was successfully updated
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Account not found
      security : 
        - simple : []
  /account/currency:
    get:
      tags:
      - Account
      summary: Get an account currency list
      description: Get an account currency list
      operationId: getAccountCurrencyList
      responses:
        200:
          description: The currency list of the account that matches the request
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Currency List not found
      security : 
        - simple : []
    put:
      tags:
      - Account
      summary: Update an account currency list
      description: Update an account currency list
      operationId: updateAccountCurrencyList
      requestBody:
        description: The updated account currency list
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountCurrencyList'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateAccountCurrencyList'
        required: true
      responses:
        204:
          description: The account was successfully updated.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: No currency for the account
      security : 
        - simple : []
  /account/language:
    get:
      tags:
      - Account
      summary: Get an account language list
      description: Get an account language list
      operationId: getAccountLanguages
      responses:
        200:
          description: The langauge list of the account that matches the request
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Language'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Language'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Language List not found
      security : 
        - simple : []
# Authentication
  /auth/methods:
    get:
      tags:
      - Authentication
      summary: Gets the authentication methods for the account.
      description: Gets the authentication methods for the account.
      operationId: getAuthMethods
      parameters:
        - name: accountId
          in: query
          description: The account id
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 13
            nullable: false
      responses:
        200:
          description: The authentication methods for the account.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuthenticationMethod'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuthenticationMethod'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: No authentication methods for the account
  /auth/forms/forgotPassword:
    post:
      summary: Request to start the forgot password process for a given username.
      operationId: forgotPassword
      tags:
        - Authentication
      parameters:
        - name: accountId
          in: query
          description: The account id
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 13
            nullable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FormsAuthPasswordChangeRequest"
          application/xml:
            schema:
              $ref: "#/components/schemas/FormsAuthPasswordChangeRequest"
      responses:
        204:
          description: The person was successfully updated
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
  /auth/forms/validatePassword:
    post:
      tags:
      - Authentication
      summary: Validates Password based on account, person and password rules
      description: Validates Password based on account, person and password rules
      operationId: validatePassword
      parameters:
        - name: accountId
          in: query
          description: The account id
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 13
            nullable: false
      requestBody:
        description: The Password Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormsAuthPasswordUpdate'
          application/xml:
            schema:
              $ref: '#/components/schemas/FormsAuthPasswordUpdate'
        required: true
      responses:
        200:
          description: Password validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PasswordValidationResult'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Invalid entry for password
  /auth/forms/resetPassword:
    put:
      summary: Update the password for a user
      operationId: resetPersonsPassword
      tags:
        - Authentication
      parameters:
        - name: accountId
          in: query
          description: The account id
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 13
            nullable: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FormsAuthPasswordUpdate"
          application/xml:
            schema:
              $ref: "#/components/schemas/FormsAuthPasswordUpdate"
      responses:
        204:
          description: The person was successfully updated
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
  /auth/forms/rules:
    get:
      tags:
      - Authentication
      summary: Gets the password rules for the account.
      description: Gets the password rules for the account.
      operationId: getPasswordRules
      parameters:
        - name: accountId
          in: query
          description: The account id
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 13
            nullable: false
      responses:
        200:
          description: The password rules for the account.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FormsAuthPasswordRule'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FormsAuthPasswordRule'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: No password rules for the account
  /auth/forms/key/validate:
    post:
      summary: Determine if a forms auth key is valid.
      operationId: validateFormsAuthKey
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FormsAuthKey"
          application/xml:
            schema:
              $ref: "#/components/schemas/FormsAuthKey"
      responses:
        204:
          description: The provided key was valid.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        422:
          description: The provided key was not valid.
# Configuration
  /config/forms:
    get:
      tags:
      - Configuration
      summary: Get the form configuration for a state.
      description: Get the form configuration for a state.
      operationId: getStateFormConfigByName
      parameters:
        - name: category
          in: query
          description: The name of the category to get the form configuration for.
          required: true
          explode: true
          schema:
            type: string
            example: nearmiss
        - name: state
          in: query
          description: The name of the state to get the form configuration for.
          required: true
          explode: true
          schema:
            type: string
            example: investigation
      responses:
        200:
          description: The state's form configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormConfig'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Configuration not found
      security : 
        - simple : []
  /config/forms/{categoryId}/{productStateId}:
    get:
      tags:
      - Configuration
      summary: Get the form configuration for a state.
      description: Get the form configuration for a state.
      operationId: getStateFormConfig
      parameters:
        - name: categoryId
          in: path
          description: The id of the category to get the form configuration for.
          required: true
          explode: true
          schema:
            type: integer
            example: 11
        - name: productStateId
          in: path
          description: The id of the product state to get the form configuration for.
          required: true
          explode: true
          schema:
            type: integer
            example: 14
      responses:
        200:
          description: The state's form configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormConfig'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Configuration not found
      security : 
        - simple : []
  /config/views:
    get:
      tags:
      - Configuration
      summary: Get a view configuration
      description: Get a view configuration
      operationId: getViewConfigByName
      parameters:
        - name: name
          in: query
          description: The name of the view to get the configuration for.
          required: true
          explode: true
          schema:
            type: string
            example: NearMisses
      responses:
        200:
          description: The view configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewConfig'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Configuration not found
      security : 
        - simple : []
  /config/views/{viewId}:
    get:
      tags:
      - Configuration
      summary: Get a view configuration
      description: Get a view configuration
      operationId: getViewConfigById
      parameters:
        - name: viewId
          in: path
          description: The id of the view to get the configuration for.
          required: true
          explode: true
          schema:
            type: integer
            format: int32
            example: 748569
      responses:
        200:
          description: The view configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewConfig'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Configuration not found
      security : 
        - simple : []
  /config/workflows:
    get:
      tags:
      - Configuration
      summary: Get the workflow configuration for a state
      description: Get the workflow configuration for a state
      operationId: getStateWorkflowConfigByName
      parameters:
        - name: category
          in: query
          description: The name of the category to get the workflow configuration for.
          required: true
          explode: true
          schema:
            type: string
            example: nearmiss
        - name: state
          in: query
          description: The name of the state to get the workflow configuration for.
          required: true
          explode: true
          schema:
            type: string
            example: investigation
      responses:
        200:
          description: The state's workflow configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowConfig'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Configuration not found
      security : 
        - simple : []
  /config/workflows/{categoryId}/{productStateId}:
    get:
      tags:
      - Configuration
      summary: Get the workflow configuration for a state
      description: Get the workflow configuration for a state
      operationId: getStateWorkflowConfigRaw
      parameters:
        - name: categoryId
          in: path
          description: The id of the category to get the workflow configuration for.
          required: true
          explode: true
          schema:
            type: integer
            example: 11
        - name: productStateId
          in: path
          description: The id of the product state to get the workflow configuration for.
          required: true
          explode: true
          schema:
            type: integer
            example: 14
      responses:
        200:
          description: The state's workflow configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowConfig'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Configuration not found
      security : 
        - simple : []
# Global Search
  '/global-search/getResults':
    post:
      description: Gets the search results for the given search parameters.
      operationId: getGlobalSearchResults
      tags:
        - GlobalSearch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalSearchParameters'
          application/xml:
            schema:
              $ref: '#/components/schemas/GlobalSearchParameters'
      responses:
        '200':
          description: the current users navigation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalSearchResult'
        '204':
          description: Unable to complete search.
      security : 
        - simple : []
# Hierarchy
  /hierarchies:
    get:
      tags:
      - Hierarchy
      summary: Return a list all Hierarchies
      description: Return a list all Hierarchies
      operationId: getHierarchies
      responses:
        200:
          description: A list of Hierarchies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Hierarchy'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Hierarchy'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Hierarchies not found
      security : 
        - simple : []
    put:
      tags:
      - Hierarchy
      summary: Update existing Hierarchy
      description: Update existing Hierarchy
      operationId: updateHierarchy
      requestBody:
        description: The updated Hierarchy object
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateHierarchyParams'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateHierarchyParams'
        required: true
      responses:
        204:
          description: The hierarchy was successfully updated.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Hierarchy not found
      security : 
        - simple : []
    post:
      tags:
      - Hierarchy
      summary: Create new Hierarchy
      description: Create new Hierarchy
      operationId: createHierarchy
      requestBody:
        description: The new Hierarchy schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewHierarchyParams'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewHierarchyParams'
        required: true
      responses:
        201:
          description: The new hierarchy identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status201Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/Status201Response'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
      security : 
        - simple : []
  /hierarchies/{hierarchyId}:
    get:
      tags:
      - Hierarchy
      summary: Get a Hierarchy by id
      description: Get a Hierarchy by id
      operationId: getHierarchy
      parameters:
        - name: hierarchyId
          in: path
          description: The Hierarchy identifier
          required: true
          style: simple
          explode: false
          schema:
            minimum: 1
            type: integer
            format: int32
            nullable: true
      responses:
        200:
          description: A Hierarchy by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hierarchy'
            application/xml:
              schema:
                $ref: '#/components/schemas/Hierarchy'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Hierarchy not found
      security : 
        - simple : []
    delete:
      tags:
      - Hierarchy
      summary: Delete a Hierarchy by Hierarchy id
      description: Delete a Hierarchy by Hierarchy id
      operationId: deleteHierarchy
      parameters:
        - name: hierarchyId
          in: path
          description: The Hierarchy identifier
          required: true
          style: simple
          explode: false
          schema:
            minimum: 0
            type: integer
            format: int32
            nullable: true
      responses:
        204:
          description: Delete Hierarchy result
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Hierarchy not found
      security : 
        - simple : []
  /hierarchies/{hierarchyId}/stats:
    get:
      tags:
      - Hierarchy
      summary: Get a Hierarchies stats
      description: Get a Hierarchies stats
      operationId: getHierarchyStats
      parameters:
        - name: hierarchyId
          in: path
          description: The Hierarchy identifier
          required: true
          style: simple
          explode: false
          schema:
            minimum: 1
            type: integer
            format: int32
      responses:
        200:
          description: The hierarchy stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HierarchyStats'
            application/xml:
              schema:
                $ref: '#/components/schemas/HierarchyStats'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Hierarchy not found
      security : 
        - simple : []
# Internationalization
  '/translations/machine':
    post:
      tags:
      - Internationalization
      summary: Create machine translation request
      description: Create machine translation request
      operationId: createMachineTranslationRequest
      requestBody:
        description: The new machine translation request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MachineTranslation'
          application/xml:
            schema:
              $ref: '#/components/schemas/MachineTranslation'
        required: true
      responses:
        201:
          description: The new translation identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status201Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/Status201Response'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
      security : 
        - simple : []
# Lists
  /lists:
    get:
      summary: Search for lists based on params
      description: Search for lists based on params
      operationId: getLists
      tags:
        - List
      parameters:
        - in: query
          name: statusFilters
          description: The array of selected statuses to include
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
              example: 1
        - in: query
          name: productFilters
          description: The array of selected products to include
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
              example: 1
      responses:
        200:
          description: A list of lists found using provided criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/List'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Lists not found
      security : 
        - simple : []
    put:
      summary: Update existing list
      description: Update existing list
      operationId: updateList
      tags: 
        - List
      requestBody:
        description: The updated list schema
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateListParams'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateListParams'
      responses:
        204:
          description: The list was successfully updated.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: List not found
      security : 
        - simple : []
    post:
      summary: Create new list
      description: Create new list
      operationId: createList
      tags: 
        - List
      requestBody:
        description: The list schema
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/List"
          application/xml:
            schema:
              $ref: "#/components/schemas/List"
      responses:
        201:
          description: The new list identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status201Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/Status201Response'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
      security : 
        - simple : []
    delete:
      summary: Delete a list by list id
      description: Delete a list by list id
      operationId: deleteList
      tags:
        - List
      parameters:
        - in: query
          name: listId
          description: The list identifier
          required: true
          schema:
            minimum: 0
            type: integer
            format: int32
      responses:
        204:
          description: List deletion result
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: List not found
      security : 
        - simple : []
  /lists/{listId}:
    get:
      summary: Get a list by list id
      description: Get a list by list id
      operationId: getListById
      tags:
        - List
      parameters:
        - in: path
          name: listId
          description: The list to be returned
          required: true
          schema:
            minimum: 0
            type: integer
            format: int32
      responses:
        200:
          description: A list with provided identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
            application/xml:
              schema:
                $ref: '#/components/schemas/List'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: List not found
      security : 
        - simple : []
  /lists/search:
    get:
      summary: Get lists by list name
      description: Get a lists by list name
      operationId: getListsByName
      tags:
        - List
      parameters:
        - in: query
          name: listName
          description: The lists to be returned
          required: true
          schema:
            type: string
      responses:
        200:
          description: A list of lists found using provided criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListSearch'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: List not found
      security : 
        - simple : []
  /lists/items:
    get:
      summary: Search for list items based on params
      description: Search for list items based on params
      operationId: getListItems
      tags:
        - List
      parameters:
        - in: query
          name: listId
          description: The list the list items retrieved belong to (null will return all lists)
          required: false
          schema:
            type: integer
            format: int32
            example: 1
        - in: query
          name: listStatusFilters
          description: The array of selected statuses of lists to include
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
              example: 1
        - in: query
          name: listItemStatusFilters
          description: The array of selected statuses list items to include
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
              example: 1
      responses:
        200:
          description: A list of list items found using provided criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListItem'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: List item not found
      security : 
        - simple : []
    put:
      summary: Update existing list item
      description: Update existing list item
      operationId: updateListItem
      tags: 
        - List
      requestBody:
        description: The updated list item schema
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateListItemParams"
          application/xml:
            schema:
              $ref: "#/components/schemas/UpdateListItemParams"
      responses:
        204:
          description: The list item was successfully updated
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: List Item not found
      security : 
        - simple : []
    post:
      summary: Create new list item
      description: Create new list item
      operationId: createListItem
      tags: 
        - List
      requestBody:
        description: The new list item schema
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewListItemParams"
          application/xml:
            schema:
              $ref: "#/components/schemas/NewListItemParams"
      responses:
        201:
          description: The new list item identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status201MultipleResponses'
            application/xml:
              schema:
                $ref: '#/components/schemas/Status201MultipleResponses'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
      security : 
        - simple : []
    delete:
      summary: Delete a list item by list item id
      description: Delete a list item by list item id
      operationId: deleteListItem
      tags:
        - List
      parameters:
        - in: query
          name: listItemId
          description: The list item identifier
          required: true
          schema:
            minimum: 0
            type: integer
            format: int32
      responses:
        204:
          description: List Item deletion result
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: List Item not found
      security : 
        - simple : []
  /lists/items/{listItemId}:
    get:
      summary: Get a list item by list item id
      description: Get a list item by list item id
      operationId: getListItemById
      tags:
        - List
      parameters:
        - in: path
          name: listItemId
          description: The list item to be returned
          required: true
          schema:
            minimum: 0
            type: integer
            format: int32
      responses:
        200:
          description: A list item with provided identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItem'
            application/xml:
              schema:
                $ref: '#/components/schemas/ListItem'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: List Item not found
      security : 
        - simple : []
  /lists/items/search:
    get:
      summary: Get list items by list item name
      description: Get a list items by list item name
      operationId: getListItemsByName
      tags:
        - List
      parameters:
        - in: query
          name: listItemName
          description: The list items to be returned
          required: true
          schema:
            type: string
      responses:
        200:
          description: A list of list items found using provided criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListItemSearch'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: List Item not found
      security : 
        - simple : []
  /lists/items/reorder:
    put:
      summary: Reorders all list items in a list
      description: Reorders all list items in a list
      operationId: ReorderListItem
      tags:
        - List
      requestBody:
        description: The reorder list item schema
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReorderListItemParams"
          application/xml:
            schema:
              $ref: "#/components/schemas/ReorderListItemParams"
      responses:
        204:
          description: The list item reorder was successfully updated
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: List Item not found
      security : 
        - simple : []
# Localization
  '/localization/search/{searchText}':
    get:
      tags:
      - Localization
      summary: Get Currency list by searching
      description: Get Currency list by searching
      operationId: getCurrencyForSearch
      parameters:
        - name: searchText
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: A currency list founded using provided criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: A currency list not found
      security : 
        - simple : []
  '/localization/timezone':
    get:
      tags:
      - Localization
      summary: Get Timezone list
      description: Get Timezone list
      operationId: getTimeZones
      responses:
        200:
          description: A timezone list founded
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeZoneList'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeZoneList'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: A timezone list not found
      security : 
        - simple : []
# Location
  /locations:
    get:
      tags:
      - Location
      summary: Search for locations by params
      description: Search for locations by params
      operationId: getLocations
      parameters:
        - name: id
          in: query
          description: The location identifier
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 1
        - name: locationType
          in: query
          description: The location type
          required: false
          schema:
            $ref: '#/components/schemas/LocationType'
        - name: hierarchyId
          in: query
          description: The hierarchy identifier
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 11
        - name: locationStatuses
          in: query
          description: The array of selected statuses
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LocationStatus'
        - name: limit
          in: query
          description: The amount of locations return per request
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 20
        - name: offset
          in: query
          description: The position for first location to be returned in the collection
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 20
      responses:
        200:
          description: A list of locations founded using provided criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Locations not found
      security : 
        - simple : []
    put:
      tags:
      - Location
      summary: Update existing location
      description: Update existing location
      operationId: updateLocation
      requestBody:
        description: The updated location schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Location'
          application/xml:
            schema:
              $ref: '#/components/schemas/Location'
        required: true
      responses:
        204:
          description: The location was successfully updated.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location not found
      security : 
        - simple : []
    post:
      tags:
      - Location
      summary: Create new location
      description: Create new location
      operationId: createLocation
      requestBody:
        description: The new location schema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewLocationParams'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewLocationParams'
        required: true
      responses:
        201:
          description: The new location identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status201Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/Status201Response'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
      security : 
        - simple : []
    delete:
      tags:
      - Location
      summary: Delete a location by location id
      description: Delete a location by location id
      operationId: deleteLocation
      parameters:
        - name: id
          in: query
          description: The location identifier
          required: true
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: locationType
          in: query
          description: The location type
          required: true
          schema:
            $ref: '#/components/schemas/LocationType'
      responses:
        204:
          description: Location deletion result
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location not found
      security : 
        - simple : []
  /locations/{locationId}:
    get:
      tags:
      - Location
      summary: Get a location by location id
      description: Get a location by location id
      operationId: getLocationById
      parameters:
        - name: locationId
          in: path
          description: The location identifier
          required: true
          style: simple
          explode: false
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: locationType
          in: query
          description: The location type
          required: true
          schema:
            $ref: '#/components/schemas/LocationType'
      responses:
        200:
          description: A location with provided identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
            application/xml:
              schema:
                $ref: '#/components/schemas/Location'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location not found
      security : 
        - simple : []
  /locations/search:
    get:
      tags:
      - Location
      summary: Get locations by location name
      description: Get locations by location name
      operationId: getLocationsByName
      parameters:
        - name: locationName
          in: query
          description: The location name
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: hierarchyId
          in: query
          description: The hierarchy identifier
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 11
        - name: locationTypes
          in: query
          description: The array of selected location types
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LocationType'
        - name: locationStatuses
          in: query
          description: The array of selected statuses
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LocationStatus'
      responses:
        200:
          description: A list of locations founded using provided criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location not found
      security : 
        - simple : []
  /locations/traverse:
    get:
      tags:
      - Location
      summary: Get locations by traverse the location tree
      description: Get locations by traverse the location tree
      operationId: getTraversedLocations
      parameters:
        - name: id
          in: query
          description: The location identifier
          required: true
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: locationType
          in: query
          description: The location type
          required: true
          schema:
            $ref: '#/components/schemas/LocationType'
        - name: hierarchyId
          in: query
          description: The hierarchy identifier
          required: true
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: locationStatuses
          in: query
          description: The array of selected statuses
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LocationStatus'
        - name: levels
          in: query
          description: The number of level to traverse within hierarchy
          required: false
          style: form
          explode: true
          schema:
            minimum: -1
            type: integer
            format: int32
      responses:
        200:
          description: A list of locations founded using provided criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Locations not found
      security : 
        - simple : []
  /locations/childLocations:
    get:
      tags:
      - Location
      summary: Get immediate child locations or location groups
      description: Get immediate child locations or location groups
      operationId: getChildLocations
      parameters:
        - name: id
          in: query
          description: The location identifier
          required: true
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: locationTypes
          in: query
          description: The array of selected types
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LocationType'
        - name: locationStatuses
          in: query
          description: The array of selected statuses
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LocationStatus'
      responses:
        200:
          description: A list of locations founded using provided criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Locations not found
      security : 
        - simple : []
  /locations/childLocationsCount:
    get:
      tags:
      - Location
      summary: Get child locations count
      description: Get child locations count
      operationId: getChildLocationsCount
      parameters:
        - name: id
          in: query
          description: The location identifier
          required: true
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: locationStatuses
          in: query
          description: The array of selected statuses
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LocationStatus'
        - name: levels
          in: query
          description: The number of level to traverse within hierarchy
          required: false
          style: form
          explode: true
          schema:
            minimum: -1
            type: integer
            format: int32
      responses:
        200:
          description: A count of locations found using provided criteria
          content:
           application/json:
             schema:
               type: integer
               format: int32
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Locations not found
      security : 
        - simple : []
  /locations/childLocationGroupsCount:
    get:
      tags:
      - Location
      summary: Get child location groups count
      description: Get child location groups count
      operationId: getChildLocationGroupsCount
      parameters:
        - name: id
          in: query
          description: The location identifier
          required: true
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: locationStatuses
          in: query
          description: The array of selected statuses
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LocationStatus'
        - name: levels
          in: query
          description: The number of level to traverse within hierarchy
          required: false
          style: form
          explode: true
          schema:
            minimum: -1
            type: integer
            format: int32
      responses:
        200:
          description: A count of locations found using provided criteria
          content:
           application/json:
             schema:
               type: integer
               format: int32
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Locations not found
      security : 
        - simple : []
  /locations/move:
    post:
      tags:
      - Location
      summary: Move location and all children under another location group
      description: Move location and all children under another location group
      operationId: moveLocation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovingLocationParams'
          application/xml:
            schema:
              $ref: '#/components/schemas/MovingLocationParams'
        required: true
      responses:
        204:
          description: The location successfully moved.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location not found
      security : 
        - simple : []
  /locations/validateUniqueLocation:
    get:
      tags:
      - Location
      summary: Validate unique location name
      description: Validate unique location name
      operationId: validateUniqueLocation
      parameters:
        - name: locationName
          in: query
          description: The location name
          required: false
          style: form
          schema:
            nullable: true
            type: string
      responses:
        204:
          description: The location name is unique.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        422:
          description: ValidationError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
      security : 
        - simple : []
  /locations/validateUniqueLocationGroup:
    get:
      tags:
      - Location
      summary: Validate unique location group name under a parent location group
      description: Validate unique location group name under a parent location group
      operationId: validateUniqueLocationGroup
      parameters:
        - name: locationGroupId
          in: query
          description: The parent location group identifier
          required: false
          style: form
          explode: true
          schema:
            nullable: true
            minimum: 0
            type: integer
            format: int32
        - name: parentLocationGroupId
          in: query
          description: The parent location group identifier
          required: false
          style: form
          schema:
            minimum: 0
            nullable: true
            type: integer
            format: int32
        - name: locationGroupName
          in: query
          description: The location name
          required: false
          style: form
          schema:
            nullable: true
            type: string
      responses:
        204:
          description: The location group name is unique.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        422:
          description: ValidationError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
      security : 
        - simple : []
# LocationLists
  /locationlists/{listId}:
    get:
      tags:
      - LocationList
      summary: Get a list of available location Ids by location list identifier
      description: Get a list of available location Ids by location list identifier
      operationId: getLocationListAvailabilityById
      parameters:
        - name: listId
          in: path
          description: The location list identifier
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A List of available location identifier for this location list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationListAvailability'
            application/xml:
              schema:
                $ref: '#/components/schemas/LocationListAvailability'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location list not found
      security : 
        - simple : []
    put:
      tags:
      - LocationList
      summary: Set availability for a location list
      description: Set availability for a location list
      operationId: setLocationListAvailability
      parameters:
        - name: listId
          in: path
          description: The location list identifier
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int32
      requestBody:
        description: The updated availability for selected location list
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LocationListAvailabilityDetails"
          application/xml:
            schema:
              $ref: "#/components/schemas/LocationListAvailabilityDetails"
      responses:
        204:
          description: The availability was successfully updated
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location list not found
      security : 
        - simple : []
    post:
      tags:
      - LocationList
      summary: Get availability location structure for a location list
      description: Set availability for a location list
      operationId: getLocationListAvailabilityStructure
      parameters:
      - name: listId
        in: path
        description: The location list identifier
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: locationId
        in: query
        description: The location identifier
        required: true
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: locationType
        in: query
        description: The location type
        required: true
        schema:
          $ref: '#/components/schemas/LocationType'
      - name: hierarchyId
        in: query
        description: The hierarchy identifier
        required: true
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: levels
        in: query
        description: The number of level to traverse within hierarchy
        required: false
        style: form
        explode: true
        schema:
          minimum: -1
          type: integer
          format: int32
      responses:
        200:
          description: A list of locations with statuses founded using provided criteria
          content:
            application/json:
                schema:
                  type: array
                  items:
                      $ref: '#/components/schemas/Location'
        400:
          description: Bad request
          content:
            application/json:
                schema:
                  $ref: '#/components/schemas/RequestError'
            application/xml:
                schema:
                  $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location list not found
      security : 
        - simple : []
  /locationlists/locations/{locationId}:
    get:
      tags:
      - LocationList
      summary: Get a list of available location list Ids by location identifier
      description: Get a list of available location list Ids by location identifier
      operationId: getLocationListAvailabilityByLocationId
      parameters:
        - name: locationId
          in: path
          description: The location identifier
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int32
        - name: locationType
          in: query
          description: The location type
          required: true
          schema:
            $ref: '#/components/schemas/LocationType'
      responses:
        200:
          description: A List of available location list identifier for this location
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
            application/xml:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location not found
      security : 
        - simple : []
  /locationlists/items/{listItemId}:
    get:
      tags:
      - LocationList
      summary: Get a list of available location Ids by location list item identifier
      description: Get a list of available location Ids by location list item identifier
      operationId: getLocationListItemAvailabilityById
      parameters:
        - name: listItemId
          in: path
          description: The location list item identifier
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A List of available location identifier for this location list item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationListAvailability'
            application/xml:
              schema:
                $ref: '#/components/schemas/LocationListAvailability'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location list item not found
      security : 
        - simple : []
    put:
      tags:
      - LocationList
      summary: Set availability for a location list item
      description: Set availability for a location list item
      operationId: setLocationListItemAvailability
      parameters:
        - name: listItemId
          in: path
          description: The location list item identifier
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int32
      requestBody:
        description: The updated availability for selected location list item
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LocationListAvailabilityDetails"
          application/xml:
            schema:
              $ref: "#/components/schemas/LocationListAvailabilityDetails"
      responses:
        204:
          description: The availability was successfully updated
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location list item not found
      security : 
        - simple : []
    post:
      tags:
      - LocationList
      summary: Get availability location structure for a location list item
      description: Get availability location structure for a location list item
      operationId: getLocationListItemAvailabilityStructure
      parameters:
      - name: listItemId
        in: path
        description: The location list item identifier
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: locationId
        in: query
        description: The location identifier
        required: true
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: locationType
        in: query
        description: The location type
        required: true
        schema:
          $ref: '#/components/schemas/LocationType'
      - name: hierarchyId
        in: query
        description: The hierarchy identifier
        required: true
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: levels
        in: query
        description: The number of level to traverse within hierarchy
        required: false
        style: form
        explode: true
        schema:
          minimum: -1
          type: integer
          format: int32
      responses:
        200:
          description: A list of locations with statuses founded using provided criteria
          content:
            application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Location'
        400:
          description: Bad request
          content:
            application/json:
                schema:
                  $ref: '#/components/schemas/RequestError'
            application/xml:
                schema:
                  $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location list not found
      security : 
        - simple : []
  /locationlists/items/locations/{locationId}:
    get:
      tags:
      - LocationList
      summary: Get a list of available location list item Ids by parent List and location identifier
      description: Get a list of available location list item Ids by parent List and by location identifier
      operationId: getLocationListItemAvailabilityByLocationId
      parameters:
        - name: locationId
          in: path
          description: The location identifier
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int32
        - name: listId
          in: query
          description: The parent list identifier
          required: true
          schema:
            type: integer
            format: int32
        - name: locationType
          in: query
          description: The location type
          required: true
          schema:
            $ref: '#/components/schemas/LocationType'
      responses:
        200:
          description: A List of available location item list identifier for this location
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
            application/xml:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
        404:
          description: Location not found
      security : 
        - simple : []
# Lookup
  '/lookups/categories/adapter':
    post:
      tags:
      - Lookup
      summary: Get categories via a lookup using adapter filters.
      description: Gets a list of categories via lookup adapter filters.
      operationId: lookupCategoriesByAdapter
      parameters:
        - $ref: '#/components/parameters/LookupText'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryRepositoryAdapterFilters'
      responses:
        200:
          description: A list of categories via lookup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
      security : 
        - simple : []
  '/lookups/contractors/adapter':
    post:
      tags:
      - Lookup
      summary: Get contractors via a lookup using adapter filters.
      description: Gets a list of contractors via lookup adapter filters.
      operationId: lookupContractorsByAdapter
      parameters:
        - $ref: '#/components/parameters/LookupText'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractorRepositoryAdapterFilters'
      responses:
        200:
          description: A list of contractors via lookup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
      security : 
        - simple : []
  '/lookups/countries/adapter':
    post:
      tags:
      - Lookup
      summary: Get countries via a lookup using adapter filters.
      description: Gets a list of countries via lookup adapter filters.
      operationId: lookupCountriesByAdapter
      parameters:
        - $ref: '#/components/parameters/LookupText'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountryRepositoryAdapterFilters'
      responses:
        200:
          description: A list of countries via lookup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
      security : 
        - simple : []
  '/lookups/countryDivisions/adapter':
    post:
      tags:
      - Lookup
      summary: Get country divisions via a lookup using adapter filters.
      description: Gets a list of country divisions via lookup adapter filters.
      operationId: lookupCountryDivisionsByAdapter
      parameters:
        - $ref: '#/components/parameters/LookupText'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountryDivisionRepositoryAdapterFilters'
      responses:
        200:
          description: A list of country divisions via lookup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
      security : 
        - simple : []
  '/lookups/currencies/adapter':
    post:
      tags:
      - Lookup
      summary: Get currencies via a lookup using adapter filters.
      description: Gets a list of currencies via lookup adapter filters.
      operationId: lookupCurrenciesByAdapter
      parameters:
        - $ref: '#/components/parameters/LookupText'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyRepositoryAdapterFilters'
      responses:
        200:
          description: A list of currencies via lookup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
      security : 
        - simple : []
  '/lookups/genders/adapter':
    post:
      tags:
      - Lookup
      summary: Get genders via a lookup using adapter filters.
      description: Gets a list of genders via lookup adapter filters.
      operationId: lookupGendersByAdapter
      parameters:
        - $ref: '#/components/parameters/LookupText'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenderRepositoryAdapterFilters'
      responses:
        200:
          description: A list of genders via lookup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
      security : 
        - simple : []
  '/lookups/listitems/adapter':
    post:
      tags:
      - Lookup
      summary: Get list items via a lookup using adapter filters.
      description: Gets a list of list items via lookup adapter filters.
      operationId: lookupListItemsByAdapter
      parameters:
        - $ref: '#/components/parameters/LookupText'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListItemRepositoryAdapterFilters'
      responses:
        200:
          description: A list of list items via lookup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
  '/lookups/locations/adapter':
    post:
      tags:
      - Lookup
      summary: Get locations via a lookup using adapter filters.
      description: Gets a list of locations via lookup adapter filters.
      operationId: lookupLocationsByAdapter
      parameters:
        - $ref: '#/components/parameters/LookupText'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationRepositoryAdapterFilters'
      responses:
        200:
          description: A list of locations via lookup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupLocationsResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
  '/lookups/personRelationshipTypes/adapter':
    post:
      tags:
      - Lookup
      summary: Get person relationship types via a lookup using adapter filters.
      description: Gets a list of person relationship types via lookup adapter filters.
      operationId: lookupPersonRelationshipTypesByAdapter
      parameters:
        - $ref: '#/components/parameters/LookupText'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonRelationshipTypeRepositoryAdapterFilters'
      responses:
        200:
          description: A list of person relationship types via lookup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
      security : 
        - simple : []
  '/lookups/persons/adapter':
    post:
      tags:
      - Lookup
      summary: Get persons via a lookup using adapter filters.
      description: Gets a list of persons via lookup adapter filters.
      operationId: lookupPersonsByAdapter
      parameters:
        - $ref: '#/components/parameters/LookupText'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonRepositoryAdapterFilters'
      responses:
        200:
          description: A list of persons via lookup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
  '/lookups/roles/adapter':
    post:
      tags:
      - Lookup
      summary: Get roles via a lookup using adapter filters.
      description: Gets a list of roles via lookup adapter filters.
      operationId: lookupRolesByAdapter
      parameters:
        - $ref: '#/components/parameters/LookupText'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleRepositoryAdapterFilters'
      responses:
        200:
          description: A list of roles via lookup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
  '/lookups/states/adapter':
    post:
      tags:
      - Lookup
      summary: Get states via a lookup using adapter filters.
      description: Gets a list of states via lookup adapter filters.
      operationId: lookupStatesByAdapter
      parameters:
        - $ref: '#/components/parameters/LookupText'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StateRepositoryAdapterFilters'
      responses:
        200:
          description: A list of states via lookup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestError'
        403:
          description: You do not have sufficient rights to this resource
  '/lookups/units/adapter':
    post:
      tags:
[...]
